@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  position: absolute;
  width: 414px;
  height: 1777px;
  background: #537edc;
  border: px solid grey;
}
.form {
  position: absolute;
  left: -0.24%;
  right: 0%;
  top: 387px;
  bottom: -1%;
  background: #ffff;
  border-radius: 10px;
  border: 2px solid grey;
}
.lady {
  position: absolute;
  left: 14%;
  top: 4.78%;
  bottom: 78.63%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.logo {
  position: absolute;
  width: 110px;
  height: 85px;
  left: 16px;
  top: 5px;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25));
}
.vector {
  position: absolute;
  left: 93.24%;
  right: 2.42%;
  top: 1.6%;
  bottom: 96.79%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25));
}
.textzone {
  position: absolute;
  width: 323px;
  height: 314px;
  left: 48px;
  top: 915px;
}
.dailylog {
  flex-direction: row;
  justify-content: left;
  position: absolute;
  left: 48px;
  top: 33px;
  width: 323px;
  height: 58px;
  margin: 0px;
}
.dailylog h1 {
  flex-direction: row;
  flex: 1;
  width: 101px;
  height: 30px;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 8px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;

  color: #253965;
}
.dailylog h2 {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 293px;
  height: 12px;
  margin: 0px;
  padding: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #7b7b7b;
}
.symptoms {
  position: absolute;
  left: 48px;
  top: 159px;
  width: 323px;
  height: 668px;
  /* border: 1px solid black; */
}
.symptoms .symbar {
  display: flex;
  list-style-type: none;
  position: absolute;
  width: 235px;
  height: 21px;
  left: 0px;
  top: 0px;
  padding: 0px;
  margin: 0px;
}
.symptoms li {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding-right: 28px;
  color: #5b5b5b;
}
.pain {
  position: absolute;
  width: 203px;
  height: 14px;
  right: 6px;
  top: 63px;
  margin: 0px;
  padding: 0px;
}
.pain .painlvl {
  display: flex;
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 0px;
  padding: 0px;
}
.painlvl li {
  padding-right: 26px;
}
.textzone button {
  position: absolute;
  width: 323px;
  height: 57.8px;
  left: 0px;
  top: 255.6px;
  background: #537edc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.textzone h2 {
  position: absolute;
  width: 216px;
  height: 17px;
  margin: 0px;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #5b5b5b;
}
.textzone input {
  position: absolute;
  width: 317px;
  height: 192px;
  left: 0px;
  top: 32px;
  background: #eff8ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
.feedback {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  top: 101px;
  width: 323px;
  height: 44px;
}
.feedback div {
  display: flex;
  width: 95px;
  height: 44px;
  left: 0px;
  top: 0px;
  padding-right: 26px;
  margin: 0px;
}
.feedback .circleclicky {
  display: flex;
  flex-direction: row;
  padding-right: 27px;
  padding-top: 10px;
  height: 24px;
  width: 24px;
}
.feedback h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #5b5b5b;
}
.drowsiness {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  top: 161px;
  width: 323px;
  height: 44px;
}
.drowsiness div {
  display: flex;
  width: 95px;
  height: 44px;
  left: 0px;
  top: 0px;
  padding-right: 26px;
  margin: 0px;
}
.drowsiness .circleclicky {
  display: flex;
  flex-direction: row;
  padding-right: 27px;
  padding-top: 10px;
  height: 24px;
  width: 24px;
}
.drowsiness h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #5b5b5b;
}
.fatigue {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  top: 221px;
  width: 323px;
  height: 44px;
}
.fatigue div {
  display: flex;
  width: 95px;
  height: 44px;
  left: 0px;
  top: 0px;
  padding-right: 26px;
  margin: 0px;
}
.fatigue .circleclicky {
  display: flex;
  flex-direction: row;
  padding-right: 27px;
  padding-top: 10px;
  height: 24px;
  width: 24px;
}
.fatigue h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #5b5b5b;
}
.heart {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  top: 281px;
  width: 323px;
  height: 44px;
}
.heart div {
  display: flex;
  width: 95px;
  height: 44px;
  left: 0px;
  top: 0px;
  padding-right: 26px;
  margin: 0px;
}
.heart .circleclicky {
  display: flex;
  flex-direction: row;
  padding-right: 27px;
  padding-top: 10px;
  height: 24px;
  width: 24px;
}
.heart h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #5b5b5b;
}
.hives {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  top: 341px;
  width: 323px;
  height: 44px;
}
.hives div {
  display: flex;
  width: 95px;
  height: 44px;
  left: 0px;
  top: 0px;
  padding-right: 26px;
  margin: 0px;
}
.hives .circleclicky {
  display: flex;
  flex-direction: row;
  padding-right: 27px;
  padding-top: 10px;
  height: 24px;
  width: 24px;
}
.hives h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #5b5b5b;
}
.rash {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  top: 401px;
  width: 323px;
  height: 44px;
}
.rash div {
  display: flex;
  width: 95px;
  height: 44px;
  left: 0px;
  top: 0px;
  padding-right: 26px;
  margin: 0px;
}
.rash .circleclicky {
  display: flex;
  flex-direction: row;
  padding-right: 27px;
  padding-top: 10px;
  height: 24px;
  width: 24px;
}
.rash h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #5b5b5b;
}
.nausea {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  top: 461px;
  width: 323px;
  height: 44px;
}
.nausea div {
  display: flex;
  width: 95px;
  height: 44px;
  left: 0px;
  top: 0px;
  padding-right: 26px;
  margin: 0px;
}
.nausea .circleclicky {
  display: flex;
  flex-direction: row;
  padding-right: 27px;
  padding-top: 10px;
  height: 24px;
  width: 24px;
}
.nausea h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #5b5b5b;
}
.vomiting {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  top: 521px;
  width: 323px;
  height: 44px;
}
.vomiting div {
  display: flex;
  width: 95px;
  height: 44px;
  left: 0px;
  top: 0px;
  padding-right: 26px;
  margin: 0px;
}
.vomiting .circleclicky {
  display: flex;
  flex-direction: row;
  padding-right: 27px;
  padding-top: 10px;
  height: 24px;
  width: 24px;
}
.vomiting h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #5b5b5b;
}
.stomach {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  top: 581px;
  width: 323px;
  height: 44px;
}
.stomach div {
  display: flex;
  width: 95px;
  height: 44px;
  left: 0px;
  top: 0px;
  padding-right: 26px;
  margin: 0px;
}
.stomach .circleclicky {
  display: flex;
  flex-direction: row;
  padding-right: 27px;
  padding-top: 10px;
  height: 24px;
  width: 24px;
}
.stomach h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #5b5b5b;
}
