* {
  font-family: 'Roboto', sans-serif;
}

.dataformcontainer h2 {
  font-size: 12px;
  font-weight: normal;
}

.menucontainer {
  display: flex;
}

.loginlogcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 150px;
}

.loginlogoimage {
  display: flex;
  justify-content: center;
  padding-left: 25px;
  width: 200px;
  height: 150px;
}

.fullview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.signinblue {
  display: flex;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 18px;
  font-size: 20px;
  color: #537edc;
}

.signup {
  display: flex;
  padding-top: 8px;
  padding-bottom: 15px;
  padding-left: 90px;
  font-size: 16px;
  color: grey;
}

.signincontainer {
  background: #eff8ff;
  padding-right: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 250px;
  height: 500px;
  padding-bottom: 50px;
}

.dataformcontainer {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  color: #253965;
}

input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 35px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.createaccountbutton {
  background: #537edc;
  border: 1px solid #537edc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
}

.createaccountcontainer {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

a:link {
  text-decoration: none;
}
