h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
  font-size: 20px;
}

h2 {
  font-size: 12px;
  font-weight: normal;
}

.fullview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.signinblue {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 22px;
  padding-bottom: 15px;
  padding-right: 10px;
  font-size: 24px;
  color: #537edc;
}

.signup {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 18px;
  color: grey;
}

.signincontainer {
  background: #eff8ff;
  padding-right: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 250px;
  height: 575px;
}

.dataformcontainer {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  color: #253965;
}

input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 30px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 7px;
}

.createaccountbutton {
  background: #537edc;
  border: 1px solid #537edc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  margin-top: 10px;
}

.createaccountcontainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

a:link {
  text-decoration: none;
}
