img {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 75px;
  width: 75px;
}

.hometext {
  font-size: 18px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.homecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 40px;
}

.homelogo {
  display: flex;
  justify-content: left;
  width: 100px;
  height: 75px;
  margin: 0px;
  padding-bottom: 10px;
  padding-right: 225px;
}

.pagegreeting {
  font-size: 30px;
  display: flex;
  justify-content: left;
  color: #253965;
  margin: 0px;
  padding-right: 100px;
}

.familyimage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 350px;
  padding-left: 10px;
}

.mainimagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 375px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
}

.mymedicines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  height: 150px;
  width: 150px;
  color: #253965;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  height: 150px;
  width: 150px;
  color: #253965;
}

.dailylog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  height: 150px;
  width: 150px;
  color: #253965;
}

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  height: 150px;
  width: 150px;
  color: #253965;
}

.refillimagecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eff8ff;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.refillimage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.calendarimagecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eff8ff;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dailylogimagecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eff8ff;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shopimagecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eff8ff;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.medicinesrow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 325px;
}

.dailylogrow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 325px;
}
